@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Sulphur+Point:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    padding: 0;
    background-color: '#fffff4';
}

.concave-corners {
    clip-path: path("M 0 0 Q 40 40 0 80 Q 40 120 0 160 L 150 160 Q 110 120 150 80 Q 110 40 150 0 Z");
  }
  
  @keyframes gentle-shake {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 1px); }
    75% { transform: translate(1px, 1px); }
    100% { transform: translate(0px, 0px); }
  }
  
  .gentle-shake-animation {
    animation: gentle-shake 0.4s ease-in-out;
  }
  