@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Sulphur+Point:wght@300;400;700&display=swap');

/* Implementation of figma theme 
   Note : naming of color is inspired from Material theme
*/
/* ** QUICK REFERENCE ABOUT FONTS ** 
    - Jost extralight is jost-200
    - Jost regular is jost-400
    - Sulphur point bold is sulphur-point-700
    - Outfit semibold is outfit-600
*/
@theme {
    --font-jost: 'Jost', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --font-sulphur-point: 'Sulphur Point', sans-serif;

    --primary: #326625;
    --primary-variant: #07a95a;
    --secondary: #d1b381;
    --secondary-variant: #eadac0;
    --tertiary: #c32105;
    --error: #c32105; /* Same color as tertiary, this is a semantic naming */
    --surface: #FFFFF4;
    
}
